<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>table</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/table.css">
    <script src="js/jquery-min.js"></script>
    <script src="js/date.js"></script>

    <script src="js/confirmation-popup.js"></script>
</head>

<body>
    <p>select date:<input type="date" id="dateControl" value="dateControl"/></p>
    <p type="date" id="dateControl" value="dateControl"/></p>

                    
    <div class="content ">
        <div class="content col-sm-12 col-lg-12">
            <table id="table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="th" align="center">09:30</th>
                        <th class="th" align="center">10:00</th>
                        <th class="th" align="center">10:30</th>
                        <th class="th" align="center">11:00</th>
                        <th class="th" align="center">11:30</th>
                        <th class="th" align="center">12:00</th>
                        <th class="th" align="center">12:30</th>
                        <th class="th" align="center">13:00</th>
                        <th class="th" align="center">13:30</th>
                        <th class="th" align="center">14:00</th>
                        <th class="th" align="center">14:30</th>
                        <th class="th" align="center">15:00</th>
                        <th class="th" align="center">15:30</th>
                        <th class="th" align="center">16:00</th>
                        <th class="th" align="center">16:30</th>
                    </tr>
                </thead>                    
                <tr id="1">
                    <th > Equipment 1</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>                                    
                <tr id="2">
                    <th > Equipment 2</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
                <tr id="3">
                    <th > Equipment 3</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
                <tr id="4">
                    <th > Equipment 4</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
                <tr id="5">
                    <th > Equipment 5</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
                <tr id="6">
                    <th > Equipment 6</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
                <tr id="7">
                    <th > Equipment 7</th>
                    <td class="0" id="10" ></td>
                    <td class="1" id="11" ></td>
                    <td class="2" id="12" ></td>
                    <td class="3" id="13" ></td>
                    <td class="4" id="14" ></td>
                    <td class="5" id="15" ></td>
                    <td class="6" id="17" ></td>
                    <td class="7" id="18" ></td>
                    <td class="8" id="19" ></td>
                    <td class="9" id="110" ></td>
                    <td class="10" id="111" ></td>
                    <td class="11" id="112" ></td>
                    <td class="12" id="113" ></td>
                    <td class="13" id="114" ></td>
                    <td class="14" id="115" ></td>                        
                </tr>
            </table>   		
        </div>
    </div>
    <div class="modal" >
	    <div class="modal-box">
	        <h6>Do you want to book </h6>	        
			<div >
				<input type="text" value="num" name="equipmentName" disabled="" style="background-color: #B4DFE0; border: none; width: 30%; padding-left: 3px; color: black;"> on
				<input type="text"  name="timeValue" disabled="" style="background-color: #B4DFE0; border: none; width: 35%; padding-left: 3px; color: black;">
                <p  id="dateValue"></p>
			</div>
	        <button id="btn-yes" class="btn-yes" style=" border-radius: 10px; background-color: #03E08B; width: 15%; float: left; border: none; color: black">Yes </button>
  			<button id="btn-no" class="btn-no" style=" border-radius: 10px; background-color: #DA452D; width: 15%; float: right; border: none; color: black">No</button>
	 	</div>
	</div>
</body>
<script src="/js/jquery.min.js"></script>

</html>
